<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personalidades</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personalidades</ion-title>
    </ion-toolbar>
  </ion-header>
  <h4 class="subtitulo"> Paulo Gonçalves (Speedy forever)</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="assets/images/paulo_goncalves.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="assets/images/paulo_goncalves2.jpg"></ion-img>
      </ion-col>
        <ion-img src="assets/images/paulo_goncalves3.jpg"></ion-img>
    </ion-row>
  </ion-grid>
  <div style="padding: 20px;">  
    <ion-text>
      <p>O Paulo Gonçalves foi um piloto português, nascido em Gemeses, concelho de Esposende a 5 de Fevereiro de 1979. Foi uma figura do mundo do rally, especialmente do Rally Dakar, a maior corrida de rally do mundo.</p> 
      <p>Paulo Gonçalves competiu em vários rallys internacionais sendo que a sua melhor classificação foi segundo lugar geral em 2015. Em 2020, durante o Rally Dakar, ele sofreu um acidente na sétima etapa da corrida e não conseguiu resistir.</p>
      <p>Ele foi homenageado pela sua freguesia colocando uma rua em seu nome chamando assim, Rua Paulo Gonçalves. Foi criado uma associação speedy forever para ajudar jovens pilotos em Portugal e ajudar a melhorar a segurança em competições de rally.</p>
    </ion-text>
  </div>
  <h4 class="subtitulo"> Teresa Portela</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="assets/images/teresa_portela3.jpeg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="assets/images/teresa_portela2.jpg"></ion-img>
      </ion-col>
        <ion-img src="assets/images/teresa_portela.jpeg"></ion-img>
    </ion-row>
  </ion-grid>
  <div style="padding: 20px;">  
    <ion-text>
      <p>Teresa Portela é uma canoísta portuguesa, nascida em Gemeses, concelho de Esposende a 30 de Outubro de 1987. Representou o GCDR de Gemeses, ingressando no Benfica em Janeiro de 2012 até aos dias de hoje.</p> 
      <p>Teresa Portela competiu em várias competições internacionais sendo que os seus pontos mais altos de carreira são:</p>
      <p> - Final jogos olímpicos em Londres 2012 K1 200</p>
      <p> - Final jogos olímpicos em Tokyo 2020 K1 500</p>
      <p> - 12 finais em Campeonatos do Mundo, com 2 classificações no top 5</p>
      <p> - 4 medalhas em Campeonatos da Europa</p>     
      <p>Em termos de habilitações académicas, Teresa Portela é licenciada em Desporto e Lazer e trabalha como embaixadora da Fundação do Desporto, ajudando a promover o desporto e o estilo de vida saudável entre os jovens portugueses.</p>
    </ion-text>
  </div>
</ion-content>
