<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Outras Informações</ion-title>
    </ion-toolbar>
  </ion-header>
  <h4 class="subtitulo">GCDR de Gemeses</h4>
  <div style="padding: 20px;">  
    <ion-text>
      <p>Contacto: 917928476</p> 
      <p>Morada: Rua da Ribeira, nº7 Gemeses 4740-494 Esposende</p>
      <p>Email: gemesesgcdr@gmail.com</p>
      <p>Facebook: https://www.facebook.com/profile.php?id=100068125129199</p>
      <p>Instagram: https://www.instagram.com/gcdr_gemeses/</p>
    </ion-text>
  </div>
  <h4 class="subtitulo">Junta de Freguesia de Gemeses</h4>
  <div style="padding: 20px;">  
    <ion-text>
      <p>Presidente: Eduardo Oliveira Maia</p> 
      <p>Secretária: Fátima Andreia Lopes Fernandes do Vale</p>
      <p>Tesoureiro: Sandra Mónica Pereira dos Santos Arantes</p>
      <br>
      <p>Contacto: 253966205</p>
      <p>Morada: Avenida da Igreja, nº19 4740-495 Gemeses</p>
      <p>Email: geral@freg-gemeses.com / eduardopresidentegemeses@gmail.com</p>
      <p>website: www.jf-gemeses.pt</p>
      </ion-text>
  </div>
</ion-content>
