<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Outras Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Outras Informações</ion-title>
    </ion-toolbar>
  </ion-header>
  <h4 class="subtitulo">GCDR de Gemeses</h4>
  <div style="padding: 20px;">  
    <ion-text>
      <p><ion-icon name="call"></ion-icon>&nbsp; Contacto: 917928476</p> 
      <p><ion-icon name="home"></ion-icon>&nbsp; Morada: Rua da Ribeira, nº7 Gemeses 4740-494 Esposende</p>
      <p><ion-icon name="mail"></ion-icon>&nbsp; Email: gemesesgcdr@gmail.com</p>
      <p><ion-icon name="logo-facebook"></ion-icon>&nbsp; Facebook: Grupo Cultural Desportivo e Recreativo de Gemeses</p>
      <p><ion-icon name="logo-instagram"></ion-icon>&nbsp; Instagram: gcdr_gemeses</p>
    </ion-text>
  </div>
  <h4 class="subtitulo">Junta de Freguesia de Gemeses</h4>
  <div style="padding: 20px;">  
    <ion-text>
      <p><ion-icon name="person-circle-outline"></ion-icon>&nbsp; Presidente: Eduardo Oliveira Maia</p> 
      <p><ion-icon name="person-circle-outline"></ion-icon>&nbsp; Secretária: Fátima Andreia Lopes Fernandes do Vale</p>
      <p><ion-icon name="person-circle-outline"></ion-icon>&nbsp; Tesoureiro: Sandra Mónica Pereira dos Santos Arantes</p>
      <br>
      <p><ion-icon name="call"></ion-icon>&nbsp; Contacto: 253966205</p>
      <p><ion-icon name="home"></ion-icon>&nbsp; Morada: Avenida da Igreja, nº19 4740-495 Gemeses</p>
      <p><ion-icon name="mail"></ion-icon>&nbsp; Email: geral@freg-gemeses.com / eduardopresidentegemeses@gmail.com</p>
      <p><ion-icon name="globe-outline"></ion-icon>&nbsp; website: www.jf-gemeses.pt</p>
      </ion-text>
  </div>
</ion-content>
