<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informações</ion-title>      
    </ion-toolbar>
  </ion-header>
  <div style="padding: 20px;">
    <p>Em Gemeses existe uma escola de ensino primário, um jardim de infância.</p>
    <p>Gemeses é uma freguesia do concelho de Esposende, com 5,51 km² de área e 1078 habitantes (censo de 2011).</p> 
      Principais Atividades Económicas: Agricultura.  
    <p>Brasão: Escudo de verde, uma faixa ondeada de prata e azul, brocante uma embarcação (barca do Lago) de ouro, realçada de negro. Coroa mural de prata de três torres. Listel branco com a legenda a negro, em maiúsculas: “GEMESES“ (Diário da República, III Série, nº 143, de 24/06/1997).</p>
    <p>Património Cultural: Igreja Paroquial, Capela da Senhora do Lago, Casa da Quinta da Torre, Casa das Eiras, Casa do Visconde de Fervença, Alminhas e Cruzeiros.</p>
    <p>Património Natural: A Barca do Lago, nas margens do Cávado.</p>
  </div>
</ion-content>
<ion-footer style="text-align: center;">
  <img class="alterar-imagem" src="assets/images/gemeses.jpg" width="200px">
  <br>
  <br>
  <br>
  <br>
</ion-footer>