<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Apresentação da Localidade</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Apresentação da Localidade</ion-title>      
    </ion-toolbar>
  </ion-header>
  <br>
  <img src="assets/images/gemeses.jpg" style="text-align: center;" class="alterar-imagem">
  <br>
  <br>
  <br>
  <br>
  <ion-button class="my-button" expand="block" (click)="turistico()">Pontos de interesses turísticos</ion-button>
  <br>
  <ion-button class="my-button" expand="block" (click)="personalidades()">Personalidades</ion-button>
  <br>
  <ion-button class="my-button" expand="block" (click)="clubesDesportivos()">Clubes Desportivos</ion-button>
  <br>
  <ion-button class="my-button" expand="block" (click)="informacoesCaracterizacao()">Informações de caraterização</ion-button>
</ion-content>